*{
    font-family: arial;
    font-size: 16px;;
}

body{
    background-color: rgb(196, 146, 243);
}

main{
    background-color: white;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
    padding: 10px;
}

table{
    border: 1px solid #333;
    margin: 20px;
    padding: 20px;
}

footer{
    background-color: rgb(125, 154, 240);
}